---
layout: default
title: Cole's Coffeelog
---

<div id="home">
  <h1>Recently Drinking</h1>
  <ul class="posts">
    {% for post in site.categories.drinking limit:5 %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Misc. Posts</h1>
  <ul class="posts">
    {% for post in site.categories.misc limit:5 %}
      <li>
        <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
